@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 400px) {
    .global-search {
        padding: 20px 0;
        text-align: center;
    }

    body {
        padding-top: 15%;
        padding-bottom: 15px;
        background: #5e5e5e;
        background-size: 100% 35%;

    }

    .global-search {
        text-align: center;
        padding: 10px;
    }

    .global-search .form-control {
        width: 500px;
    }

    .global-search * {
        display: inline-block;
        margin-bottom: 0;
    }
}

.topcorner {
    position: absolute;
    top: 2%;
    right: 2%;
}

.btn {
    background-color: #2aa5a5;
    border: none
}

.step-links a {
    color: #4285F4;
}

#drink-id {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(33, 33, 33, .2);

}

#drink-id:hover {
    box-shadow: 0 10px 25px rgba(33, 33, 33, .2);

}

.cocktail {
    margin: auto;
}




