<html lang="en">
<head>
    <title>Rocktails</title>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon-1.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
    <script src="/static/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="static/js/typeahead.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Rocktails</a>
            <form id="query-form" class="form-inline global-search" onsubmit="return submitQuery(null, '2')">
                <div class="form-group">
                    <label for="tags">
                        <input id="search-form2" type="text" name="search" class="form-control"
                               placeholder="Occasion (e.g. 'Baby Shower')">
                        <input id="ingredients-form2" type="text" name="ingredients" class="form-control"
                               placeholder="List Ingredients (e.g. 'vodka, sprite')">
                    </label>
                    <br>
                </div>
                <input type="submit" class="btn btn-success" value="Go">
            </form>
        </div>
    </div>
</nav>
<div id="header">
    <a href="/" id="logo">Rocktails</a>
    <div class="topcorner">
        <div>Project Name: ROCKTAILS</div>
        <div>Students:</div>
        <li>Kerri Diamond: kd333</li>
        <li>Kaitlin Green: kg345</li>
        <li>William Lin: wrl48</li>
        <li>Megan Rochlin: mjr395</li>
        <li>Nathaniel Schickler: njs59</li>
    </div>
    <div id="formDiv">
        <form id="query-form2" class="form-inline global-search" onsubmit="return submitQuery(null)">
            <div class="form-group">
                <label for="tags">
                    <input id="search-form" type="text" name="search" class="form-control"
                           placeholder="Occasion (e.g. 'Baby Shower') ">
                    <input id="ingredients-form" type="text" name="ingredients" class="form-control"
                           placeholder="List Ingredients (e.g. 'vodka, sprite')">
                </label>
                <br>
            </div>
            <input type="submit" class="btn btn-success" value="Go">
        </form>
    </div>
</div>
<br>
<!--<div id="intro">-->
<!--    <p>Type in how you feel or what occasion you'd like drinks for. Next, Specify if there are any ingredients you would like to use. Finally, add any flavor profiles to make your search more specific.</p>-->
<!--</div>-->

<div class="container-fluid">
    <div id="drink-output" class="container-fluid">
    </div>
    <!-- template, results go in drink-output -->
    <div style="display: none;" data-type="template" class="row">
        <div id="drink-id">
            <div id="info-container">
                <div class="title-box">
                    <h3 id="drink-title" class="title-content">
                    </h3>
                    <div id="tags" class="title-content tags">
                    </div>
                    <div class="thumb">
                        <img src='../static/img/drinks_noimg_1280.png' alt="No Image"
                             onerror="if (this.src !== 'error.jpg') this.src = '../static/img/drinks_noimg_1280.png';"
                             class="src">
                    </div>
                </div>
                <div class="bottom-container">
                    <div id="left-pane" class="info-col">
                        <div class="desc">
                            <h4>Description</h4>
                            <p id="desc"></p>
                            <div id="related-container">
                                <h5>Other drinks you might enjoy...</h5>
                                <div id="related-drinks" class="title-content tags">
                                </div>
                            </div>
                        </div>
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            <ul id="ingredients"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none">
        <!--Template for tag buttons-->
        <a data-type="template" href="" class="badge badge-pill badge-dark align-middle">Tag</a>
        <span data-type="template" href="" class="badge badge-pill badge-dark align-middle">Rating</span>
    </div>
</div>

<script>
    /*---------------------------------------*/
    /*	NAVIGATION AND NAVIGATION VISIBLE ON SCROLL
    /*---------------------------------------*/
    $(window).on("load", function () {
        mainNav();
        $(window).scroll(function () {
            mainNav();
        });

        function mainNav() {
            var top = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
            if (top > 350) $('.navbar-fixed-top').stop().animate({
                "opacity": '1',
                "top": '0'
            });
            else $('.navbar-fixed-top').stop().animate({
                "top": '-70',
                "opacity": '0'
            });

        }
    });
</script>

<script>
    var loading = false;
    var suggestions = [];
    var ingredients = [];
    var searchedURL = '';
    var resultsLoaded = 0;

    function submitQuery(searchStr = null, formNum = '') {
        let searchUrl = '';
        if (searchStr) {
            searchUrl = searchStr;
        } else {
            const inputsSearch = $('#search-form' + formNum).val();
            const inputsIngredients = $('#ingredients-form' + formNum).val();
            searchUrl = "?search=" + inputsSearch;
            searchUrl += "&ingredients=" + inputsIngredients;
            searchUrl = searchUrl.toLowerCase();
        }
        const url = new URL(window.location);
        const urlBase = url.origin;
        const queryPath = "/search-results/";
        const newUrl = urlBase + searchUrl;

        postData('data',
            (results) => { return resultCallbackFunc(results, false, true) },
            queryPath + searchUrl
        );
        searchedURL = queryPath + searchUrl;

        if (window.history.pushState) {
            //prevents browser from storing history with each change:
            window.history.pushState({"id": newUrl}, 'Results', newUrl);
        }
        return false;
    }

    function postData(input, callback, url) {
        const queryObj = {
            type: "POST",
            url: url,
            data: {param: input},
            async: true,
            success: callback
        };
        console.log(queryObj);
        $.ajax(queryObj);
    }

    function callbackJSONFunc(response) {
        // set suggestions
        suggestions = JSON.parse(response);
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        $('#ingredients-form').tagsinput({
            typeaheadjs: {
                hint: true,
                highlight: true,
                minLength: 1,
                name: 'states',
                source: substringMatcher(suggestions)
            }
        });
    }

    function resultCallbackFunc(response, append = false, displayNoneFound = true) {
        //then parse and display the response
        loading = true;
        const parsed = JSON.parse(response);
        if (!append) {
            $('#drink-output').empty();
            resultsLoaded = 0;
        }
        console.log(parsed);

        parsed.forEach(function (d) {
            const element = document.querySelector("div[data-type='template']").cloneNode(true);
            element.setAttribute("data-type", "");

            let tags = d['tags'] && d['tags'].length > 0 ? d['tags'] : [];

            const tagsElem = element.querySelector("#tags");
            tags.forEach((tag) => {
                const tagElem = document.querySelector("a[data-type='template']").cloneNode(true);
                tagElem.textContent = tag;
                tagElem.onclick = () => {
                    submitQuery('?search=' + tag + '&ingredients')
                };
                tagElem.setAttribute("data-type", "");
                tagsElem.appendChild(tagElem);
            });

            if (d['rating'] && d['rating'] > 0) {
                const ratingTag = document.querySelector("span[data-type='template']").cloneNode(true);
                ratingTag.textContent = d['rating'].substring(0, 3) + '★';
                ratingTag.setAttribute("data-type", "");
                tagsElem.appendChild(ratingTag);
            }

            let related = d['related'] && d['related'].length > 0 ? d['related'] : [];
            const relatedsElem = element.querySelector("#related-drinks");
            related.forEach((r) => {
                const relatedElem = document.querySelector("a[data-type='template']").cloneNode(true);
                relatedElem.textContent = r['name'];
                relatedElem.onclick = () => {
                    submitQuery('?search="' + r['name'] + '"&ingredients')
                };
                relatedElem.style = "opacity: " + r['score'];
                relatedElem.setAttribute("data-type", "");
                relatedsElem.appendChild(relatedElem);
            });

            if (related.length === 0) {
                const relatedCont = relatedsElem.parentNode;
                relatedCont.parentNode.removeChild(relatedCont);
            }

            let ingredientsUl = element.querySelector("#ingredients");
            for (let i = 0; i < d.ingredients.length; i++) {
                let item = document.createElement('li');
                item.appendChild(document.createTextNode(d.ingredients[i]));
                ingredientsUl.appendChild(item);
            }

            element.querySelector("h3#drink-title").textContent = d.name;
            element.querySelector("#desc").textContent = d.description;
            // element.querySelector("#ingredients").textContent = d.ingredients.toString();
            element.querySelector("img.src").src = d.src;
            element.style.display = "";
            document.getElementById("drink-output").appendChild(element);
            resultsLoaded++;
        });
        loading = false;


        if (parsed.length === 0 && displayNoneFound) {
            let nonetxt = document.createElement('h5');
            nonetxt.textContent = 'No results found :(';
            document.getElementById("drink-output").appendChild(nonetxt);
        }
    }

    $(document).ready(function () {
        postData("", callbackJSONFunc, '/good-ingredients/');

        // if page has search string on load, use that
        const url = new URL(window.location);
        const searchStr = url.search;
        if (searchStr.length > 0) {
            submitQuery(searchStr);
        }
    });

    //infinite scroll
    $(window).scroll(function() {
        const buffer = 300;
        if($(window).scrollTop() >= $(document).height() - screen.height - buffer){
            if(!loading){
                console.log('loading more results...');
                loading = true;
                postData(
                    searchedURL + '&loaded=' + resultsLoaded,
                    (results) => { return resultCallbackFunc(results, true, false) },
                    '/load-more/');
            }
          }
        });

</script>
</body>
</html>