<html lang="en">
<head>
    <title>Rocktails</title>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon-1.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div id="header">
    <a href="/" id="logo">Rocktails</a>
    <div class="topcorner">
    <div>Project Name: ROCKTAILS</div>
    <div>Students:</div>
    <li>Kerri Diamond: kd333</li>
    <li>Kaitlin Green: kg345</li>
    <li>William Lin: wrl48</li>
    <li>Megan Rochlin: mjr395</li>
    <li>Nathaniel Schickler: njs59</li>
</div>
</div>
<br><br>
<form id="query-form" class="form-inline global-search" onsubmit="return submitQuery(null)">
    <div class="form-group">
        <label for="tags">
            <input id="search-form" type="text" name="search" class="form-control" placeholder="Occasion (e.g. 'I have a birthday party')">
            <input id="ingredients-form" type="text" name="ingredients" class="form-control" placeholder="List Ingredients (e.g. 'vodka, sprite')">
        </label>
        <br><br>
        <div id="list3" class="dropdown-check-list" tabindex="100">
            <span class="anchor">Filter with Flavor Profiles</span>
            <ul class="items">
                <li><input id="flavorProfAny" name="flavorProfile" type="checkbox" value="any"/><label for="flavorProfAny">Any</label></li>
                <li><input id="flavorProfFrozen" name="flavorProfile" type="checkbox" value="frozen"/><label for="flavorProfFrozen">Frozen</label></li>
                <li><input id="flavorProfFruity" name="flavorProfile" type="checkbox" value="fruity"/><label for="flavorProfFruity">Fruity</label></li>
                <li><input id="flavorProfHot" name="flavorProfile" type="checkbox" value="hot"/><label for="flavorProfHot">Hot</label></li>
                <li><input id="flavorProfSavory" name="flavorProfile" type="checkbox" value="savory"/><label for="flavorProfSavory">Savory</label></li>
                <li><input id="flavorProfSour" name="flavorProfile" type="checkbox" value="sour"/><label for="flavorProfSour">Sour</label></li>
                <li><input id="flavorProfSpicy" name="flavorProfile" type="checkbox" value="spicy"/><label for="flavorProfSpicy">Spicy</label></li>
                <li><input id="flavorProfSweet" name="flavorProfile" type="checkbox" value="sweet"/><label for="flavorProfSweet">Sweet</label></li>
            </ul>
        </div>
    </div>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Go">
</form>

<div class="container-fluid">
    <div id="drink-output" class="container-fluid">
    </div>
    <!-- template, results go in drink-output -->
    <div style="display: none;" data-type="template" class="row">
        <div id="drink-id">
            <div id="info-container">
                <div class="title align-items-center">
                    <h3 class="title">
                    </h3>
                </div>
                <div class="align-items-start">
                    <div id="left-pane" class="info-col">
                        <div class="desc">
                            <h4>Description</h4>
                            <p id="desc"></p>
                            <br>
                        </div>
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            <ul id="ingredients"></ul>
                        </div>
                    </div>
                    <div id="right-pane" class="info-col">

                        <div class="thumb">
                            <img src='../static/img/drinks_noimg_1280.png' alt="No Image"
                                 onerror="if (this.src !== 'error.jpg') this.src = '../static/img/drinks_noimg_1280.png';"
                                 class="src">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Script for dropdown multi select-->
<script type="text/javascript">
    jQuery(function ($) {
        var checkList = $('.dropdown-check-list');
        checkList.on('click', 'span.anchor', function(event){
            var element = $(this).parent();

            if ( element.hasClass('visible') )
            {
                element.removeClass('visible');
            }
            else
            {
                element.addClass('visible');
            }
        });
    });
</script>

<script>
    var suggestions = [];
    var ingredients = [];

    function submitQuery(searchStr = null) {
        let searchUrl = '';

        if (searchStr) {
            searchUrl = searchStr;
        } else {
            const inputsSearch = $('#search-form').val();
            const inputsIngredients = $('#ingredients-form').val();

            console.log(inputsSearch, inputsIngredients);

            searchUrl = "?query=" + inputsSearch;
            searchUrl += "&ingredients=" + inputsIngredients;
            searchUrl = searchUrl.toLowerCase();
        }

        const url = new URL(window.location);
        const urlBase = url.origin;

        const queryPath = "/search-results/";

        console.log(searchUrl);
        const newUrl = urlBase + searchUrl;

        postData('data', resultCallbackFunc, queryPath + searchUrl);

        if (window.history.pushState) {
            //prevents browser from storing history with each change:
            window.history.pushState({"id": newUrl}, 'Results', newUrl);
        }

        return false;
    }

    function postData(input, callback, url) {
        const queryObj = {
            type: "POST",
            url: url,
            data: {param: input},
            async: true,
            success: callback
        };
        console.log(queryObj);
        $.ajax(queryObj);
    }

    function callbackJSONFunc(response) {
        // set suggestions
        suggestions = JSON.parse(response);
    }

    function resultCallbackFunc(response) {
        //then parse and display the response
        const parsed = JSON.parse(response);
        console.log(parsed);

        $('#drink-output').empty();

        parsed.forEach(function (d) {
            const element = document.querySelector("div[data-type='template']").cloneNode(true);

            let ingredientsUl = element.querySelector("#ingredients");
            for (let i = 0; i < d.ingredients.length; i++) {
                let item = document.createElement('li');
                item.appendChild(document.createTextNode(d.ingredients[i]));
                ingredientsUl.appendChild(item);
            }

            element.querySelector("h3.title").textContent = d.name;
            element.querySelector("#desc").textContent = d.description;
            // element.querySelector("#ingredients").textContent = d.ingredients.toString();
            element.querySelector("img.src").src = d.src;
            element.style.display = "";
            document.getElementById("drink-output").appendChild(element);
        });

    }

    $(document).ready(function () {
        postData("", callbackJSONFunc, '/good-types/');

        // if page has search string on load, use that
        const url = new URL(window.location);
        const searchStr = url.search;
        if (searchStr.length > 0) {
            submitQuery(searchStr);
        }


        $("#search-form")
        // don't navigate away from the field on tab when selecting an item
            .on("keydown", function (event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    // delegate back to autocomplete, but extract the last term
                    response($.ui.autocomplete.filter(
                        suggestions,
                        request.term.split(/,\s*/).pop()
                    ));
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    var terms = this.value.split(/,\s*/);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });
</script>
</body>
</html>