<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon-1.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div class="topcorner">
    <p>Project Name: ROCKTAILS</p>
    <p>Students:</p>
    <li>Kerri Diamond: kd333</li>
    <li>Kaitlin Green: kg345</li>
    <li>William Lin: wrl48</li>
    <li>Megan Rochlin: mjr395</li>
    <li>Nathaniel Schickler: njs59</li>
</div>
<form class="form-inline global-search">
    <h1 style="font-size: 64px;font-weight:500; font-family:Quicksand, sans-serif; text-shadow: 2px 2px 2px #000000; color: #ffffff">
        ROCKTAILS
    </h1>

    <br><br>

    <div class="form-group">
        <input id="tags" type="text" name="search" class="form-control" placeholder="Occasion">
        <input id="tags" type="text" name="ingredients" class="form-control" placeholder="Ingredients">
    </div>
    <button type="submit" class="btn btn-primary">
        Go
    </button>
    {% if data %}
        <script style="display: none">
            const url = new URL(window.location);
            let searchStr = url.search;
            searchStr = searchStr.substr(searchStr.indexOf('=') + 1, searchStr.length).toLowerCase();
            console.log(searchStr);
            var new_url = "/search-results/?query=" + searchStr;

            function postQueryData(input) {
                console.log(input);
                $.ajax({
                    type: "POST",
                    url: new_url,
                    data: {param: input},
                    async: false,
                    success: callbackFunc
                });
            }

            function callbackFunc(response) {
                // do something with the response
                document.addEventListener("DOMContentLoaded", function () {
                        JSON.parse(response).forEach(function (d) {
                            const element = document.querySelector("div[data-type='template']").cloneNode(true);

                            let ingredientsUl = element.querySelector("#ingredients");
                            for (let i = 0; i < d.ingredients.length; i++) {
                                let item = document.createElement('li');
                                item.appendChild(document.createTextNode(d.ingredients[i]));
                                ingredientsUl.appendChild(item);
                            }

                            element.querySelector("h3.title").textContent = d.name;
                            element.querySelector("#desc").textContent = d.description;
                            // element.querySelector("#ingredients").textContent = d.ingredients.toString();
                            element.querySelector("img.src").src = d.src;
                            element.style.display = "";
                            document.getElementById("drink-output").appendChild(element);
                        })
                    }
                )
            }

            postQueryData('data');
        </script>
    {% endif %}
</form>

<div class="container-fluid">
    <div id="drink-output" class="container-fluid">
        <!-- template -->
        <div style="display: none;" data-type="template" class="row">
            <div id="drink-id">
                <div id="info-container">
                    <div class="title align-items-center">
                        <h3 class="title">
                        </h3>
                    </div>
                    <div class="align-items-start">
                        <div id="left-pane" class="info-col">
                            <div class="desc">
                                <h4>Description</h4>
                                <p id="desc"></p>
                                <br>
                            </div>
                            <div class="ingredients">
                                <h4>Ingredients</h4>
                                <ul id="ingredients"></ul>
                            </div>
                        </div>
                        <div id="right-pane" class="info-col">

                            <div class="thumb">
                                <img src='../static/img/drinks_noimg_1280.png' alt="No Image"
                                     onerror="if (this.src !== 'error.jpg') this.src = '../static/img/drinks_noimg_1280.png';"
                                     class="src">
                            </div>

                            <div id="see-more" class="btn btn-link">See more...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var suggestions = [];
    var ingredients = [];

    function postData(input) {
        console.log(input);
        $.ajax({
            type: "POST",
            url: input,
            data: {param: input},
            async: false,
            success: callbackJSONFunc
        });
    }

    function callbackJSONFunc(response) {
        // do something with the response
        suggestions = JSON.parse(response);
    }

    $(function () {
        postData("/good-types/");
        var availableTags = suggestions;

        function split(val) {
            return val.split(/,\s*/);
        }

        function extractLast(term) {
            return split(term).pop();
        }

        $("#tags")
        // don't navigate away from the field on tab when selecting an item
            .on("keydown", function (event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function (request, response) {
                    // delegate back to autocomplete, but extract the last term
                    response($.ui.autocomplete.filter(
                        availableTags, extractLast(request.term)));
                },
                focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });
</script>
</body>
</html>